{% extends 'base.html' %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}

<h4>Username: {{user.username}}</h4>
<h4>Name: {{user.first_name}} {{user.last_name}}</h4>
<h4>Email Address: {{user.email}}</h4>
<hr>

<h1>Feedback:</h1>
<ul id="feedback-list">
    {% for item in feedback %}
    <li>
        <a href="/feedback/{{item.id}}">{{item.title}}</a> - 
        <button class="delete-feedback" data-id="{{item.id}}">X</button>
    </li>
    {% endfor %}
</ul>

 <form action="/users/{{user.username}}/feedback/add">
    <Button>Add Feedback!</Button>
 </form>

<form action="/logout">
    <button>Logout!</button>
</form>

<form action="/users/{{user.username}}/delete" method="POST">
    <button>Delete User!</button>
</form>

{% endblock %}